*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header{
    background-color: rgb(44,62,80);
    height: 100px;
}

.background-green{
    background-color: green;
    height: 50px;   
}

.height{
    height: 100%;
}


.background-lightgreen{
    background-color: rgb(26,188,156);
}


.background-yellow{
    background-color: yellow;
    height: 500px;

}


.background-blue{
    background-color: darkblue;
    height: 500px; 
}


.background-red{
    background-color: darkred;
    height:200px; 
}



