*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.padding-top-bottom{
    padding: 50px 0;
}

/* CLASSI HEADER */
header{
    background-color: rgb(44,62,80);
   
    color: white;
}

.white-button{
    border: 1px solid white;
    color:white
    
    
}

/* CLASSI MAIN */
/* CLASSI PRIMA SEZIONE */
.jumbo-img{
    width: 60%;
    padding-top: 120px;
}
h1{
    font-size: 60px;
    padding-top: 20px ;
}

.fa-star{
    font-size:50px;
    padding-bottom: 10px;
}
hr{
    width: 150px;
    height: 5px;
    margin: 0;
    opacity: 1;
    border: none;
    border-radius: 3px;
    margin: 20px;
}
.white-text{
    color:white
}

.hr-white{
    background-color: rgb(255, 255, 255);

}
/* FINE CLASSI PRIMA SEZIONE */
/* CLASSI SECONDA SEZIONE */
.hr-black{
    background-color: black;
}

.border-radius{
    border-radius: 20px;
}


.content{
    padding: 20px 0;
}

.background-lightgreen{
    background-color: rgb(26,188,156);
}


.background-yellow{
    background-color: yellow;
    height: 500px;
    margin: 10px;

}


.background-blue{
    background-color: darkblue;
    height: 500px; 
    margin: 10px 0;
}


.background-red{
    background-color: darkred;
    height:200px; 
    margin: 10px 0
}



.top-footer{
    background-color:rgba(58,84,109,255) ;
}

.bottom-footer{
    background-color: rgba(44,62,80,255);
}






/* CLASSI RESPONSIVE */

@media screen and (min-width:900px){
    .jumbo-img{
        width: 20%;
    }

    
}